{% extends "preprocess/base.html" %}

{% load staticfiles %}
{% block title %}Stem | {{block.super}} {% endblock %}
{% block processbutton %}Stem{% endblock %}
{% block clearbutton %}{% url 'preprocess:stem_view' %}{% endblock %}

{% block container %}

    {{ block.super }}

    {% if stem_words %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Stem Word</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                {% for token, stem_value in stem_words.items %}
                    <tr>
                        <td>{{token}}</td><td>{{stem_value}}</td>
                    </tr>
                {% endfor %}

                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
