{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Tokenize | Preprocess | {{block.super}} {% endblock %}
{% block container %}

    {{ block.super }}

    <div class="col-sm-12 col-md-12">
        <div class="row"></div>
        <div class="row">

            {% include "message.html" %}

            <form>
                <div class="form-group">
                    <label for="inputText">Input Text</label>
                    {{ form.text }}
                </div>
                <div class="form-group">
                <div class="col-sm-3 col-sm-offset-3">
                    <button type="submit"  id="send" class="btn btn-info btn-block">Tokenize</button>
                </div>

                <div class="col-sm-3">
                    <a type="submit"  id="reset" href="{% url 'preprocess:tokenize_view' %}" class="btn btn-warning btn-block">Clear</a>
                </div>
                </div>
            </form>
        </div>
        <hr/>

        {% if sentences %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sentences ({{ sentences|length }})</h3>
            </div>
            <div class="panel-body">
                {% for sentence in sentences %}
                    <li>{{sentence}}</li>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if tokens %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tokens ({{ tokens|length }})</h3>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
                {% for token in tokens %}
                    <li>{{token}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if no_hyphen_tokens %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Hyphenated Striped Tokens ({{ no_hyphen_tokens|length }})</h3>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
                {% for htoken in no_hyphen_tokens %}
                    <li>{{htoken}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if unique_tokens %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Unique Tokens ({{ unique_tokens|length }})</h3>
            </div>
            <div class="panel-body">
                <ul class="list-inline">
                {% for utoken, value in unique_tokens.items %}
                    <li>{{utoken}}{% if value > 1 %}({{value}}){% endif %}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        </div>
    </div>

{% endblock %}

