{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Hindi news classifier, tokenization, stemming, stop words removal">
        <meta name="author" content="Taranjeet Singh">

        <title>{% block title %}Hindi News Classifier{% endblock %}</title>

        <!-- Bootstrap-->
        <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" />

        <!-- Placed at the TOP of the document since we are using them everywhere  -->
        <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>

        <!-- Bootstrap JS -->
        <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    </head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown {% if request.resolver_match.url_name in 'tokenize_view, stem_view, stopwords_view, all_preprocess_view' %}active {% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Preprocess<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li {% if request.resolver_match.url_name == 'tokenize_view' %}class="active"{% endif %}>
                        <a href="{% url 'preprocess:tokenize_view' %}" >Tokenize</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'stem_view' %}class="active"{% endif %}>
                        <a href="{% url 'preprocess:stem_view' %}" >Stem</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'stopwords_view' %}class="active"{% endif %}>
                        <a href="{% url 'preprocess:stopwords_view' %}" >StopWords</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'all_preprocess_view' %}class="active"{% endif %}>
                        <a href="{% url 'preprocess:all_preprocess_view' %}" >Preprocess All</a>
                    </li>
                </ul>
                </li>
                {% if request.user.is_superuser %}
                <li>
                    <a href="/admin" target="_blank">Admin</a>
                </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div class="container-fluid">
        {% block container %}
        {% endblock %}
    </div>
</body>
</html>
